<div class='banner'>
  <h1>Tonight Jacqueline</h1>
  <div class="add-cocktail">
    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus"></i>
      <i class="fas fa-cocktail"></i>
    <% end %>
  </div>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<div class="cocktail-cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'card-hover' do %>
      <% path = cocktail.photo.attached? ? cocktail.photo.service_url : 'https://images.unsplash.com/photo-1527271982979-83fea3eb3582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80' %>
      <div class="cocktail-card" style="background-image: linear-gradient(rgba(243, 188, 201, 0.3), rgba(0, 0, 0, 0.4)), url('<%= path %>'); background-size: cover; background-position: center;">
        <p><%= cocktail.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
