.cocktail-page{
  display: flex;
}

.side-image {
  background-image: url('side-image.jpeg');
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  position: relative;
  a {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $red;
    font-size: 60px;
    &:hover {
      font-size: 70px;
      transition: .5s;
    }
  }
}

.cocktail {
  height: 80vh;
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: red;
  }
}

.add-ingredient-btn {
  background-color: $pink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 20px;
  box-shadow: .5px .5px 2px grey;
  color: white;
  font-size: 20px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    font-weight: bolder;
  }
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  a {
    color: $pink;
  }
  a:hover {
    color: $red;
  }
}

