.btn-red {
  background-color: #8EC0FC;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  &:hover {
    font-size: 20px;
    transition: 0.5s;
  }
}

.background-pink {
  background-color: rgb(243, 188, 201);
}

.form-container {
  margin: 110px 200px;
  height: 75%;
  padding: 100px 200px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 1px 5px grey;
  position: relative;
  h1 {
    color: white
  }
  a {
    position: absolute;
    top: -100px;
    left: -150px;
    color: #8EC0FC;
    font-size: 70px;
  }
  a:hover {
    font-size: 80px;
    transition: .5s;
  }
}
