// Specific CSS for your home-page

.container {
  margin: 60px 100px;
}

body {
  background-color: white;
  font-family: 'Playfair Display', serif;
}

footer {
  height: 120px;
  background-color: rgb(50,50,50);
  padding: 30px;
  p {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  .icons {
    display: flex;
    justify-content: center;
    i {
      color: white;
      font-size: 25px;
      padding: 0 10px;
    }
    i:hover {
      font-size: 30px;
      transition: 0.5s;
    }
  }
}

.cocktail-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition: transform 1s;
  }
  a:hover {
    color: white;
    transform: scale(1.05);
    text-decoration: none;
    border-radius: 5px;
  }
}

.card-hover {
  background-image: linear-gradient(rgba(243, 188, 201, 0.3), rgba(0, 0, 0, 0.4)), url('https://source.unsplash.com/random/?cocktail');
  background-size: cover;
  background-position: center;
  height: 300px;
  flex-grow: 1;
  min-width: 33%;
  box-shadow: 1px 1px 5px grey;
}

.cocktail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 20px solid transparent;
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
}
