.banner {
  height: 450px;
  background-position: left;
  background-image: asset_url('banner.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px grey;
  position: relative;
  display: flex;
  flex-direction: column;
  h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: lighter;
    border: 3px solid #FFFFFF;
    padding: 20px;
    font-family: 'Pacifico', cursive;
  }
  a {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .add-cocktail {
    a {
      transition: transform .5s;
      font-size: 35px;
      color: #FFFFFF;
    }
    a:hover {
      transform: scale(1.05);
      color: #FFFFFF;
      text-decoration: none;
    }
    i.fa-plus {
      font-size: 20px;
    }
  }
  p {
    color: white;
    font-size: 25px;
    padding-top: 30px;
  }
}
