// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-page{
  display: flex;
}

.side-image {
  background-image: asset_url('side-image.jpeg');
  background-repeat: no-repeat;
  width: 33%;
  height: 100vh;
  position: relative;
  a {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 60px;
    transition: transform .5s;
    &:hover {
      transform: scale(1.08);
    }
  }
}

.cocktail {
  height: 80vh;
  width: 50%;
  margin: 70px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: red;
    font-family: 'Pacifico', cursive;
  }
}

.add-ingredient-btn {
  background-color: rgb(243, 188, 201);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 20px;
  box-shadow: .5px .5px 2px grey;
  color: white;
  font-size: 20px;
  transition: transform 1s;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    // transform: scale(1.1);
    transform: rotate(360deg);
  }
}

.ingredients {
  margin-top: 30px;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  a {
    color: rgb(243, 188, 201);
  }
  a:hover {
    color: #8EC0FC;
  }
}

.cocktail-description-dosage {
  display: flex;
  justify-content: space-between;
  .cocktail-description {
    width: 50%;
  }
  .cocktail-dosage {
    width: 30%;
  }
}
